// Body
$body-bg: #ffcc99;
// Typography
$font-family-sans-serif: 'Lucida Sans Unicode',
sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
// Colors
$primary: #5e3782;
$secondary: #c0fdc1;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #5e3782;
$pink: #f66d9b;
$red: #e3342f;
$orange: #ffcc99;
$orange-light: #ffe0c1;
$yellow: #ffed4a;
$green: #c0fdc1;
$teal: #4dc0b5;
$cyan: #6cb2eb;